.clear:after {
    content: "";
    clear: both;
}
.clear:after, .show {
    display: block;
}

.big_wrap {
    background: #f5f7f9;
    height: 100%;
}

.result_pane {
    width: 1170px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.tab_content{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 26px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
