.clear:after {
    content: "";
    clear: both;
}
.clear:after, .show {
    display: block;
}

.big_wrap {
    background: #f5f7f9;
    height: 100%;
}

.header_wrap {
    -webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,.1);
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.1);
}

.header_wrap .header_main {
    width: 1110px;
    margin: 0 auto;
    padding: 10px;
}

.logo_box img {
  height: 26px;
  float: left;
  margin-right: 10px;
}

.header_wrap .header_main .logo_box {
    float: left;
    cursor: pointer;
    font-size: 0;
    padding: 7px 0;
}

.header_wrap .header_main .logo_box span {
    display: inline-block;
    float: left;
    font-size: 14px;
    color: #64758a;
    line-height: 20px;
    margin-top: 7px;
}

.header_wrap .header_main .search_box {
    width: 740px;
    float: left;
    font-size: 0;
    margin-left: 101px;
    position: relative;
}

.result_pane {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}